@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
	--status-yellow-color: rgb(250, 218, 131);
	--status-lightblue-color: rgb(156, 182, 209);
	--btn-white-color: whitesmoke; 
	--btn-hover-add-color: hsl(128, 37%, 71%); 
	--btn-upg-color: rgba(168, 136, 211, 0.5);
	--btn-del-color: rgba(255, 104, 107);
	--btn-done-color: rgb(136, 211, 152, 0.5);
	--btn-upg-hover-color: rgba(168, 136, 211);
	--btn-prev-color: rgb(136, 181, 211,0.5);
	--btn-prev-hover-color: rgb(136, 181, 211);
	--btn-del-hover-color: rgba(248, 74, 77, 0.979);
	--btn-done-hover-color: rgb(136, 211, 152);
	--btn-text-color: rgb(99, 114, 116);
	--btn-text-hover-color: rgb(99, 114, 116);
	--btn-exit-color: rgb(60, 79, 112, 0.7);
	--btn-exit-hover-color: rgb(60, 79, 112, 1);
	--fz-status-text: 22px;
	--fz-btn-text: 15px;
	--border-radius: 20px;
	--fz-small-btn-text:12px;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Open Sans', sans-serif;
	line-height: 1.5;
	word-wrap: break-word;
}
.card__button:hover{
	cursor: pointer;
}

.card-create{
	width:min(80%,60vw);
	margin:20px auto;
	color:var(--btn-text-hover-color)
}
.card__input{
	padding: 0.7rem 1rem;
	width: 100%;
	margin: 0.7rem 0;
	box-sizing: border-box;
	border: 1px solid var(--btn-upg-color);
	border-radius:	var(--border-radius);
}
.input-description{
	min-height: 100px;
}

.card__label{
	padding-left: 4%;
	display: block;
	font-size: 25px;
	font-size: var(--fz-status-text);
}
.card__title-large{
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.card__button-cancel:hover{
	background-color: var(--btn-upg-color);
}

.title__input{
	width: 90%;
}
.text__input{
	width: 100%;
	margin: 1em 0;
	margin-right: 10%;
	font-size: 1rem;
	max-width: 100%;
	min-height: 150px;
}

.form__container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.loginform {
	position: absolute;
	width: 320px;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	background-color: rgba(240, 239, 235, 0.329);
	border: 1px solid var(--btn-upg-color);
	border-radius: var(--border-radius);
	color: var(--btn-text-hover-color);
  }
  
  .loginform__title {
	margin: 0 auto 1rem;
	font-size: var(--fz-status-text);
	text-transform: uppercase;
	font-weight: 500;
  }
  
  .loginform__label {
	display: block;
	padding-left: 4%;
	font-size: var(--fz-status-text);
	margin-bottom: 0.2rem;
  }
  
  .loginform__input {
	padding: 0.7rem 1rem;
	width: 100%;
	margin-bottom: 0.7rem;
	box-sizing: border-box;
	outline: none;
	border: 1px solid var(--btn-upg-color);
	border-radius: var(--border-radius);
  }
  
  .loginform__buttonwrapper {
	display: flex;
	justify-content: center;
  }
  
  .button {
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 15px;
  }
  
  .loginform__submit {
	border: 1px solid rgba(54, 22, 87, 0.329);
	border-radius: 15px;
	color: var(--btn-text-color);
  }
  
  .loginform__submit:hover,
  .loginform__submit:focus {
	color: var(--btn-text-hover-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .loginform__button {
	border: none;
  
	text-transform: uppercase;
	background-color: transparent;
  }
  
  .loginform__button:hover,
  .loginform__button:focus {
	background-color: var(--btn-done-color);
	color: var(--btn-exit-hover-color);
  }

  .board{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card__button.exit__button{
   width: 4rem;
	height: 2.5rem;
	background-color: var(--btn-exit-color);
   color: var(--btn-white-color);
}
.card__button.exit__button:hover{
	background-color: var(--btn-exit-hover-color);
   color: var(--btn-white-color);
}

.header{
   width: 100%;
   height: 70px;
	margin-bottom: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
@media (min-width: 780px){
	.board{
		flex-wrap: nowrap;
	}
}

.task-board__item{
	width: 100%;
}
.status{
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	padding-left: min(20%,20vw);
	padding-right: min(20%,20vw);
	width: 100%;
	text-align: center;
	color: var(--btn-white-color);
	background-color: var(--status-lightblue-color);
	font-size: var(--fz-status-text);
	box-sizing: border-box;
	font-weight: 700;
	align-items: center;
}

.status__button,.input{
	border: none;
	padding: 0;
	background: none;
}
.status__button:hover{
	cursor: pointer;
}
.status__button-add{
	color: var(--btn-white-color);
	font-size: var(--fz-btn-text);
	font-weight: 700;
	border: 2px solid var(--btn-white-color);
	border-radius: 100px;
	padding: 0.2em 0.4em;
	max-height: 1.7em;
	max-width: 1.7em;
	display: flex;
	align-items: center
}
.status__button-add:hover{
	border: 2px solid var(--btn-hover-add-color);;
	color: var(--btn-hover-add-color);;
}

@media (min-width:780px){
	.status{
		padding: 1rem 0.4rem;
		font-size: 17px;
		border-radius: 15px;
		align-items: center;	
	}
	.task-board__item {
		margin: 0 10px;
		width: 23%;
		word-wrap: break-word;
	}
}
@media (min-width:1150px){
	.status{
		padding-left: min(10%,3rem);
		padding-right: min(10%,3rem);
		font-size: var(--fz-status-text);
	}
}

.card{
	position: relative;
	margin: 1rem 0;
	padding: 1rem 1rem;
	border: 1px solid var(--btn-upg-color);
	border-radius: var(--border-radius);
	background-color: rgba(240, 239, 235, 0.329);
}
.card__title{
	display: block;
	padding-right:10%;
	font-size: var(--fz-status-text);
}
.card__buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.card__button{
	border:  1px solid rgba(54, 22, 87, 0.329);
	border-radius: 15px;
	padding: 0.5rem;
	color: var(--btn-text-color);
	margin: 0 2%;
}

.card__button:hover{
	color: var(--btn-text-hover-color);
}
.card__button-upg{
	background-color: var(--btn-upg-color);
}
.card__button-upg:hover{
	background-color: var(--btn-upg-hover-color);
}
.card__button-done{
	background-color: var(--btn-done-color);
}
.card__button-prev{
	background-color: var(--btn-prev-color);
}
.card__button-prev:hover{
	background-color: var(--btn-prev-hover-color);
}
.card__button-done:hover{
	background-color: var(--btn-done-hover-color);
}
.card__icon{
	position: absolute;
	top: min(6%,1.5em);
	right: min(6%,1.5em);
	padding: 0.1em 0.5em 0.2em;
	border-radius: var(--border-radius);
	background-color: var(--btn-del-color);
	border:1px solid var(--btn-white-color);
	color: var(--btn-white-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.card__icon:hover{
	background-color: var(--btn-del-hover-color);
}